body{
	margin: 0 auto;
}

.col-centered{
	float: none;
	margin: 0 auto;
}
.top{
	margin: 0 auto;
	background-color: white;
	border-bottom: 1px solid;
	text-align: center;
	font-size: 30px;
	font-family: 'Merriweather Sans', sans-serif;
}
.entry-container{
	padding: 5px;
	background: #ffffff;
	margin-top: 20px;

}
.entry-header{
	position: relative;
	margin-bottom: 10px;
	border-bottom: 1px solid;
}
.entry-title{
	font-weight: bold;
	font-size: 24px;
}
.entry-date{
	position: absolute;
	right: 2px;
	top: 8px;
	font-size: 16px;
	font-weight: bold;
	color: #454545;
}
.entry-body{
	white-space: pre-wrap;
}


