body{
	margin: 0 auto;
}
.top{
	margin: 0 auto;
	background-color: white;
	border-bottom: 1px solid;
	width: 800px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-style: oblique;
}
.entry-container{
	width: 400px;
	padding: 2px;
	background: #ffffff;
	margin: 20px auto;

}
.entry-header{
	position: relative;
	width: 400px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
}
.entry-title{
	font-weight: bold;
	font-size: 24px;
}
.entry-date{
	position: absolute;
	right: 5px;
	top: 8px;
	font-size: 16px;
	font-weight: bold;
	color: #454545;
}
.entry-body{
	white-space: pre-wrap;
}


