<!DOCTYPE html>
<html>
	<head>
		<title>Frozen Seas</title>
		<link rel=stylesheet type=text/css href="{{url_for('static',filename='style.css') }}">
	</head>

	<body>
		<div class="top">Frozen Seas</div>
		{% for entry in entries%}
		<div class="entry-container">
			<div class="entry-header">
				<div class="entry-title">{{entry.title}}</div>
				<div class="entry-date">{{entry.date}}</div>
			</div>
			<div class="entry-body">{{entry.body}}</div>
		</div>
		{% endfor %}
		<div class="bottom"></div>
	</body>
</html>

